apiVersion: apps/v1
kind: Deployment
metadata:
  name: demopython
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demopython
  template:
    metadata:
      labels:
        app: demopython
    spec:
      containers:
        - name: demopython
          image: infernus31/demo_python
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
            successThreshold: 1
          livenessProbe:
            exec:
              command:
              - /bin/sh
              - -c
              - "/app/testkuber/infernus31/demo_python --alive"
            initialDelaySeconds: 10
            periodSeconds: 5